<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<SexyContent FileVersion="07.00.00" MinimumRequiredVersion="07.00.00" ModuleVersion="11.04.00" ExportDate="2021-02-20T00:20:49.2284651-08:00">
  <Header>
    <App Guid="5cd7df1b-ac28-49a2-a749-f145bae47b60" />
    <Language Default="en-US" />
    <Dimensions />
  </Header>
  <AttributeSets>
    <AttributeSet StaticName="App-Resources" Name="App-Resources" Description="Stores resources like translations for an app" Scope="2SexyContent-App" AlwaysShareConfiguration="false">
      <Attributes />
    </AttributeSet>
    <AttributeSet StaticName="App-Settings" Name="App-Settings" Description="Stores settings for an app" Scope="2SexyContent-App" AlwaysShareConfiguration="false">
      <Attributes />
    </AttributeSet>
    <AttributeSet StaticName="bbeb5411-d118-4152-8b12-a479afc38a69" Name="Vacancy" Description="" Scope="2SexyContent" AlwaysShareConfiguration="false">
      <Attributes>
        <Attribute StaticName="Title" Type="String" IsTitle="true">
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="dae12f40-b1f9-42cb-a668-9c85b2674347" Json="True" KeyNumber="408">
            <Value Key="CustomJavaScript" Value="" Type="String" />
            <Value Key="DefaultValue" Value="" Type="String" />
            <Value Key="Disabled" Value="False" Type="Boolean" />
            <Value Key="DisableTranslation" Value="False" Type="Boolean" />
            <Value Key="InputType" Value="string-default" Type="String" />
            <Value Key="Name" Value="Title" Type="String" />
            <Value Key="Notes" Value="" Type="String" />
            <Value Key="Placeholder" Value="" Type="String" />
            <Value Key="Required" Value="True" Type="Boolean" />
            <Value Key="ValidationRegExJavaScript" Value="" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@String" AttributeSetName="@String" EntityGUID="c7ab464a-8f48-4fde-b66e-86e45374b23e" Json="True" KeyNumber="408">
            <Value Key="DropdownValues" Value="" Type="String" />
            <Value Key="InputType" Value="" Type="String" />
          </Entity>
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@string-default" AttributeSetName="@string-default" EntityGUID="99d9f0d2-6bef-4b31-bf31-0db8cac89aa6" Json="True" KeyNumber="408" />
        </Attribute>
        <Attribute StaticName="CompanyName" Type="String" IsTitle="false">
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="969faf7f-f791-4043-a7e2-64770a698969" Json="True" KeyNumber="406">
            <Value Key="CustomJavaScript" Value="" Type="String" />
            <Value Key="DefaultValue" Value="" Type="String" />
            <Value Key="Disabled" Value="False" Type="Boolean" />
            <Value Key="DisableTranslation" Value="False" Type="Boolean" />
            <Value Key="InputType" Value="string-default" Type="String" />
            <Value Key="Name" Value="CompanyName" Type="String" />
            <Value Key="Notes" Value="" Type="String" />
            <Value Key="Placeholder" Value="" Type="String" />
            <Value Key="Required" Value="True" Type="Boolean" />
            <Value Key="ValidationRegExJavaScript" Value="" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@String" AttributeSetName="@String" EntityGUID="9436c11e-183c-4781-8f08-7ebfb97daa6e" Json="True" KeyNumber="406">
            <Value Key="DropdownValues" Value="" Type="String" />
            <Value Key="InputType" Value="" Type="String" />
          </Entity>
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@string-default" AttributeSetName="@string-default" EntityGUID="72a519e6-5b9b-420e-8113-cd11f414ee87" Json="True" KeyNumber="406" />
        </Attribute>
        <Attribute StaticName="CompanyDescription" Type="String" IsTitle="false">
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="0699da01-b106-4077-98e4-b61e437f2bd1" Json="True" KeyNumber="407">
            <Value Key="CustomJavaScript" Value="" Type="String" />
            <Value Key="DefaultValue" Value="" Type="String" />
            <Value Key="Disabled" Value="False" Type="Boolean" />
            <Value Key="DisableTranslation" Value="False" Type="Boolean" />
            <Value Key="InputType" Value="string-default" Type="String" />
            <Value Key="Name" Value="CompanyDescription" Type="String" />
            <Value Key="Notes" Value="" Type="String" />
            <Value Key="Placeholder" Value="" Type="String" />
            <Value Key="Required" Value="False" Type="Boolean" />
            <Value Key="ValidationRegExJavaScript" Value="" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@String" AttributeSetName="@String" EntityGUID="185ad504-0477-48be-a4d4-d48dff96acac" Json="True" KeyNumber="407">
            <Value Key="DropdownValues" Value="" Type="String" />
            <Value Key="InputType" Value="" Type="String" />
          </Entity>
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@string-default" AttributeSetName="@string-default" EntityGUID="ec20dfe5-e58d-483f-85a5-3b179b4cac86" Json="True" KeyNumber="407" />
        </Attribute>
        <Attribute StaticName="Duties" Type="String" IsTitle="false">
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="70092245-24ff-4b11-8ff1-0aeefc200906" Json="True" KeyNumber="409">
            <Value Key="InputType" Value="string-default" Type="String" />
            <Value Key="Name" Value="Duties" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
        </Attribute>
        <Attribute StaticName="Requirements" Type="String" IsTitle="false">
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="de7b653f-a03b-4825-9095-ff384999e236" Json="True" KeyNumber="410">
            <Value Key="InputType" Value="string-default" Type="String" />
            <Value Key="Name" Value="Requirements" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
        </Attribute>
        <Attribute StaticName="WorkingConditions" Type="String" IsTitle="false">
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="09cf696e-bfdb-4831-bd2a-44fa808a53a9" Json="True" KeyNumber="411">
            <Value Key="InputType" Value="string-default" Type="String" />
            <Value Key="Name" Value="WorkingConditions" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
        </Attribute>
        <Attribute StaticName="Contacts" Type="String" IsTitle="false">
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="e922764f-0bf3-4b55-8277-798bdd342636" Json="True" KeyNumber="412">
            <Value Key="CustomJavaScript" Value="" Type="String" />
            <Value Key="DefaultValue" Value="" Type="String" />
            <Value Key="Disabled" Value="False" Type="Boolean" />
            <Value Key="DisableTranslation" Value="False" Type="Boolean" />
            <Value Key="InputType" Value="string-default" Type="String" />
            <Value Key="Name" Value="Contacts" Type="String" />
            <Value Key="Notes" Value="" Type="String" />
            <Value Key="Placeholder" Value="" Type="String" />
            <Value Key="Required" Value="True" Type="Boolean" />
            <Value Key="ValidationRegExJavaScript" Value="" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@String" AttributeSetName="@String" EntityGUID="b3025328-1cf9-47be-85d2-6a9baa5ab953" Json="True" KeyNumber="412">
            <Value Key="DropdownValues" Value="" Type="String" />
            <Value Key="InputType" Value="" Type="String" />
          </Entity>
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@string-default" AttributeSetName="@string-default" EntityGUID="736c3115-f9d3-45e8-9558-d0a0ae871b7b" Json="True" KeyNumber="412" />
        </Attribute>
      </Attributes>
    </AttributeSet>
    <AttributeSet StaticName="d5d04e96-0b8b-4334-ae3f-dae5a74cde92" Name="VacancyList" Description="" Scope="2SexyContent" AlwaysShareConfiguration="false">
      <Attributes>
        <Attribute StaticName="Title" Type="String" IsTitle="true">
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="000aa44c-f4a3-4c79-a597-75e2248b5520" Json="True" KeyNumber="413">
            <Value Key="CustomJavaScript" Value="" Type="String" />
            <Value Key="DefaultValue" Value="" Type="String" />
            <Value Key="Disabled" Value="False" Type="Boolean" />
            <Value Key="DisableTranslation" Value="False" Type="Boolean" />
            <Value Key="InputType" Value="string-default" Type="String" />
            <Value Key="Name" Value="Title" Type="String" />
            <Value Key="Notes" Value="" Type="String" />
            <Value Key="Placeholder" Value="" Type="String" />
            <Value Key="Required" Value="True" Type="Boolean" />
            <Value Key="ValidationRegExJavaScript" Value="" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@String" AttributeSetName="@String" EntityGUID="dbd01250-39e8-4ada-9e0a-62bab748ceb9" Json="True" KeyNumber="413">
            <Value Key="DropdownValues" Value="" Type="String" />
            <Value Key="InputType" Value="" Type="String" />
          </Entity>
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@string-default" AttributeSetName="@string-default" EntityGUID="4d83ae9c-210b-462a-a6c9-3f3c3d4153f3" Json="True" KeyNumber="413" />
        </Attribute>
      </Attributes>
    </AttributeSet>
  </AttributeSets>
  <Entities>
    <Entity AssignmentObjectType="App" AttributeSetStaticName="2SexyContent-App" AttributeSetName="2SexyContent-App" EntityGUID="a118ac13-4fd3-4c07-8656-ec6425db5d29" Json="True" KeyNumber="4">
      <Value Key="AllowRazorTemplates" Value="True" Type="Boolean" />
      <Value Key="AllowTokenTemplates" Value="False" Type="Boolean" />
      <Value Key="Description" Value="" Type="String" />
      <Value Key="DisplayName" Value="Vacancies" Type="String" />
      <Value Key="Folder" Value="Vacancies" Type="String" />
      <Value Key="Hidden" Value="False" Type="Boolean" />
      <Value Key="OriginalId" Value="" Type="String" />
      <Value Key="RequiredDnnVersion" Value="07.02.00" Type="String" />
      <Value Key="RequiredVersion" Value="08.03.00" Type="String" />
      <Value Key="SupportsAjaxReload" Value="False" Type="Boolean" />
      <Value Key="Version" Value="00.01.00" Type="String" />
    </Entity>
    <Entity AssignmentObjectType="App" AttributeSetStaticName="App-Settings" AttributeSetName="App-Settings" EntityGUID="e1148065-eee3-466f-8fd8-713f8327ca78" KeyNumber="4" />
    <Entity AssignmentObjectType="App" AttributeSetStaticName="App-Resources" AttributeSetName="App-Resources" EntityGUID="dfeed066-b323-4499-9006-bdfc6a6af060" KeyNumber="4" />
    <Entity AssignmentObjectType="Default" AttributeSetStaticName="2SexyContent-Template" AttributeSetName="2SexyContent-Template" EntityGUID="fd4685d8-2729-47a1-97d8-e5b83fae45a7" Json="True">
      <Value Key="ContentDemoEntity" Value="d6a1ae17-1204-4f3a-b775-ae0b6b5c2406" Type="Entity" />
      <Value Key="ContentTypeStaticName" Value="bbeb5411-d118-4152-8b12-a479afc38a69" Type="String" />
      <Value Key="IsHidden" Value="False" Type="Boolean" />
      <Value Key="ListContentDemoEntity" Value="7045ad36-5749-46b7-9b2a-b003d93de581" Type="Entity" />
      <Value Key="ListContentTypeStaticName" Value="d5d04e96-0b8b-4334-ae3f-dae5a74cde92" Type="String" />
      <Value Key="ListPresentationTypeStaticName" Value="" Type="String" />
      <Value Key="Location" Value="Portal File System" Type="String" />
      <Value Key="Name" Value="VacancyList" Type="String" />
      <Value Key="Path" Value="_VacancyList.cshtml" Type="String" />
      <Value Key="PresentationTypeStaticName" Value="" Type="String" />
      <Value Key="PublishData" Value="False" Type="Boolean" />
      <Value Key="StreamsToPublish" Value="" Type="String" />
      <Value Key="Type" Value="C# Razor" Type="String" />
      <Value Key="UseForList" Value="True" Type="Boolean" />
      <Value Key="ViewNameInUrl" Value="" Type="String" />
    </Entity>
    <Entity AssignmentObjectType="Default" AttributeSetStaticName="bbeb5411-d118-4152-8b12-a479afc38a69" AttributeSetName="Vacancy" EntityGUID="d6a1ae17-1204-4f3a-b775-ae0b6b5c2406">
      <Value Key="CompanyDescription" Value="" Type="String" />
      <Value Key="CompanyName" Value="&lt;Demo Company&gt;" Type="String" />
      <Value Key="Contacts" Value="&lt;Demo Contacts&gt;" Type="String" />
      <Value Key="Duties" Value="" Type="String" />
      <Value Key="Requirements" Value="" Type="String" />
      <Value Key="Title" Value="&lt;Demo Job&gt;" Type="String" />
      <Value Key="WorkingConditions" Value="" Type="String" />
    </Entity>
    <Entity AssignmentObjectType="Default" AttributeSetStaticName="d5d04e96-0b8b-4334-ae3f-dae5a74cde92" AttributeSetName="VacancyList" EntityGUID="7045ad36-5749-46b7-9b2a-b003d93de581">
      <Value Key="Title" Value="&lt;Demo Vacancy List&gt;" Type="String" />
    </Entity>
  </Entities>
  <PortalFiles />
  <PortalFolders>
    <Folder Id="202" RelativePath="adam/Vacancies/" />
  </PortalFolders>
</SexyContent>